In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("time_series_data_human_activities.csv")
df

         user  activity       timestamp  x-axis  y-axis    z-axis
0           1   Walking   4991922345000    0.69   10.80 -2.030000
1           1   Walking   4991972333000    6.85    7.44 -0.500000
2           1   Walking   4992022351000    0.93    5.63 -0.500000
3           1   Walking   4992072339000   -2.11    5.01 -0.690000
4           1   Walking   4992122358000   -4.59    4.29 -1.950000
...       ...       ...             ...     ...     ...       ...
1073618    36  Standing  15049012250000   -0.91    9.43  2.533385
1073619    36  Standing  15049062268000   -1.18    9.51  2.492524
1073620    36  Standing  15049112287000   -1.50    9.53  2.533385
1073621    36  Standing  15049162275000   -2.07    8.77  2.179256
1073622    36  Standing  15049212262000   -2.14    9.89  3.255263

[1073623 rows x 6 columns]

In [3]:
unique_activity = df['activity'].unique()
print(unique_activity)

['Walking' 'Jogging' 'Upstairs' 'Downstairs' 'Sitting' 'Standing']

In [4]:
dados = df[df['activity'] == 'Walking']
dados

         user activity       timestamp  x-axis  y-axis    z-axis
0           1  Walking   4991922345000    0.69   10.80 -2.030000
1           1  Walking   4991972333000    6.85    7.44 -0.500000
2           1  Walking   4992022351000    0.93    5.63 -0.500000
3           1  Walking   4992072339000   -2.11    5.01 -0.690000
4           1  Walking   4992122358000   -4.59    4.29 -1.950000
...       ...      ...             ...     ...     ...       ...
1047710    36  Walking  13369092267000   -2.22    6.32  5.434519
1047711    36  Walking  13369142255000   -3.06    5.71  6.088296
1047712    36  Walking  13369192273000   -3.49    5.83  5.788648
1047713    36  Walking  13369242231000   -4.14    6.21  5.938472
1047714    36  Walking  13369292279000   -4.90    6.55  3.827318

[417901 rows x 6 columns]

In [6]:
# usuarios presentes apenas com a atividade caminhada

In [7]:
unique_user = dados['user'].unique()
print(unique_user)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36]

In [ ]:
# todos os usuarios possem a ativiade "caminhada", logo posso realizar uma filtragem para cada um dos usuarios.